<div th:fragment = "header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #000000;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarCollapse" >
                <ul class="navbar-nav me-auto" >
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">Лавка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Войти</a>
                    </li>
                </ul>
                <div>
                    <a class="nav-link" href="/basket" style='color: #969696'>Корзина</a>
                </div>
            </div>
        </div>
    </nav>
</div>